<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Axiom" version="0.8.3376.12322" targetFramework="net40-Client" />
  <package id="IronPython" version="2.7.5" targetFramework="net40-Client" />
  <package id="midi-dot-net" version="1.1.0" targetFramework="net40-Client" />
  <package id="Sanford.MidiToolkit" version="5.0.2" targetFramework="net40-Client" />
</packages>